<form [formGroup]="vehicleForm" (ngSubmit)="save()">
    <h1 mat-dialog-title class="centered-text">
        @switch (this.action) {
        @case (DialogAction.CREATE) {
        Alta de Vehículo
        }
        @case (DialogAction.EDIT) {
        Modificación de Vehículo
        }
        @case (DialogAction.OBSERVE) {
        Detalle de Vehículo
        }
        }
    </h1>
    <mat-dialog-content class="mat-typography">
        <div class="grid-form-driver">
            <mat-form-field>
                <mat-label>Marca</mat-label>
                <input matInput formControlName="make" name="make" maxlength="50" [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete">
                    @for (option of this.makeOptions(); track option) {
                    <mat-option [value]="option.make">{{option.make}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Modelo</mat-label>
                <input matInput formControlName="model" name="model" maxlength="50" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete">
                    @for (option of this.modelOptions(); track option) {
                    <mat-option [value]="option.model">{{option.model}}</mat-option>
                    }
                </mat-autocomplete>

            </mat-form-field>
            <mat-form-field>
                <mat-label>Color</mat-label>
                <mat-select formControlName="color" name="color">
                    @for(color of this.colors();track color){
                    <mat-option [value]="color.color">
                        <div class="option-container">
                            <div class="color-preview" [style.background]="color.hex"></div>
                            <span>{{ color.color }}</span>
                        </div>
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Placas</mat-label>
                <input matInput formControlName="plates" name="plates" maxlength="20">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Número</mat-label>
                <input matInput formControlName="number" name="number" maxlength="20">
            </mat-form-field>

            <div class="flex-column container-rotulated">
                <mat-label>Esta rotulado</mat-label>
                <mat-radio-group formControlName="isRotulated">
                    <mat-radio-button [value]="true">Si</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>


        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit">Save</button>
    </mat-dialog-actions>
</form>