<form [formGroup]="vehicleForm" (ngSubmit)="save()">
    <h1 mat-dialog-title class="centered-text">
        @switch (this.action) {
        @case (DialogAction.CREATE) {
        Alta de Vehículo
        }
        @case (DialogAction.EDIT) {
        Modificación de Vehículo
        }
        @case (DialogAction.OBSERVE) {
        Detalle de Vehículo
        }
        }
    </h1>
    <mat-dialog-content class="mat-typography">
        <div class="grid-form-driver">
            <app-simple-input [control]="vehicleForm.controls.make" [label]="'Marca'" [name]="'make'"
                [isRequired]="true" [maxLength]="50" [options]="makeOptions()" />

            <app-simple-input [control]="vehicleForm.controls.model" [label]="'Modelo'" [name]="'model'"
                [isRequired]="true" [maxLength]="50" [options]="modelOptions()" />

            <app-options-input [control]="vehicleForm.controls.color" [label]="'Color'" [options]="colors()"
                [itemTemplate]="itemTemplate" />


            <mat-form-field>
                <mat-label>Placas</mat-label>
                <input matInput formControlName="plates" name="plates" maxlength="20">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Número</mat-label>
                <input matInput formControlName="number" name="number" maxlength="20">
            </mat-form-field>

            <div class="flex-column container-rotulated">
                <mat-label>Esta rotulado</mat-label>
                <mat-radio-group formControlName="isRotulated">
                    <mat-radio-button [value]="true">Si</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>


        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit">Save</button>
    </mat-dialog-actions>
</form>


<ng-template #itemTemplate let-item>
    <div class="option-container">
        <div class="color-preview" [style.background]="item.data.hex"></div>
        <span>{{ item.value}}</span>
    </div>
</ng-template>