<mat-form-field class="mat-form-field">
    <mat-label>{{label()}}</mat-label>
    <input matInput [formControl]="control()" [placeholder]="placeholder()" [required]="isRequired()"
        [maxlength]="maxLength()" [type]="type()">
    <span matSuffix>
        <ng-content select="[matSuffix]"></ng-content>
    </span>

    @if (this.control().invalid && (this.control().dirty ||
    this.control().touched)){
    <mat-error>
        <ng-container *ngTemplateOutlet="
                    error;
                    context: {
                      control: control(),
                      validators: validators()
                    }
                  "></ng-container>
            </mat-error>
    }
</mat-form-field>

<ng-template #error let-c="control" let-v="validators">
    @if (c.hasError) {
    @for (error of v; track $index) {
    @if (c.errors[error.type]) {
    {{ error.message }}
    }
    }
    }
</ng-template>