<div class="container-reset-password">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="centered-form">
        <h4>Reset Password</h4>
        <app-simple-input style="width: 100%;" [name]="'password'" [label]="'New Password'"
            [type]="isPasswordVisible1() ? 'text' : 'password'" [placeholder]="'Enter your new password'"
            [control]="form.controls.password" [isRequired]="true" [validators]="validators.password">
            <button mat-icon-button matSuffix (click)="togglePassword1($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordVisible1()" [disabled]="isLoading()">
                <mat-icon>{{ isPasswordVisible1() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </app-simple-input>

        <app-simple-input style="width: 100%;" [name]="'confirmPassword'" [label]="'Confirm Password'"
            [type]="isPasswordVisible2() ? 'text' : 'password'" [placeholder]="'Confirm your new password'"
            [control]="form.controls.confirmPassword" [isRequired]="true" [validators]="validators.password">
            <button mat-icon-button matSuffix (click)="togglePassword2($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordVisible2()" [disabled]="isLoading()">
                <mat-icon>{{ isPasswordVisible2() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button></app-simple-input>

        <button mat-raised-button color="primary" type="submit">
            Reset Password
        </button>

    </form>

</div>