<div class="container-pagination-search" [ngClass]="{'center-content': isLoading()}">
  @if (isLoading()) {
  <mat-spinner></mat-spinner>
  }
  <div class="container-pagination" [ngClass]="{'hidden': isLoading()}">
    <!--this fix the error overlap icon, maybe is for the animation input-->
    <app-search-grid [(search)]="search" *ngIf="!isLoading()" />
    <app-pagination-actions [generalActions]="generalActions" class="align-right" />
    <app-pagination-grid [paginationServices]="paginationServices" [tableColumns]="tableColumns"
      [description]="'Lista de Conductores registrados'" [search]="search" [paginationActions]="paginationActions"
      [(isLoading)]="isLoading" />
  </div>
</div>