.container-pagination-search{
    padding: 40px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-pagination{
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.hidden{
    display: none;
}

.align-right{
    align-self: flex-end;
}