.grid-container{
    display: grid;
}

.grid-item{
    display: inline;
}

.container-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-actions{
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    justify-content: left;
}