<div class="container-center">
    <form [formGroup]="form" class="form-card" (ngSubmit)="sendEmail()">
        <h4>Enviar correo de recuperación</h4>

        <app-simple-input style="width: 100%;" [control]="form.controls.email" [label]="'Email'"
            [placeholder]="'example@emial.com'" [isRequired]="true" [maxLength]="50" [type]="'email'"
            [validators]="validators.email" [isEnable]="!isLoading()" class="container-field" [name]="'email'" />

        @if (isLoading()){
        <mat-spinner diameter="35"></mat-spinner>
        }@else{
        <button mat-raised-button color="primary" type="submit">Enviar</button>
        }

    </form>
</div>